* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Urbanist", sans-serif;
  color: #2f2f3b;
}

body {
  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #19a1ad;
}

.container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}
